---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='register' description='Basic register in astro with supabase'>

	<Card>
        <div class="container">
            <header>
                <h1>Register</h1>
                <h6>Create a new account to access our services.</h6>
              </header>
            <form class="conteiner-form" action="/api/auth/register" method="post">
                  <section>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" placeholder="you@email.com" required/>
                </section>
                <section>
                    <label for="password">Password</label>
                    <div class="input-password">
                        <input id="password" name="password" type="password" placeholder="6 characters" required />
                        <span class="hide-show">
                            <label for="check-hide">see</label>
                            <input id="check-hide" type="checkbox"/>
                        </span>
                    </div>
                </section>
                <button type="submit">
                    Register
                </button>
            </form>
            <footer>
                <span> Have a account?
                <a href="#"> Login here </a>
                </span>
                <p> After Registration, please verify your email to activate your account. </p>
            </footer>
        </div>
	</Card>
</Layout>

<style>
	h1, h6{
		margin: 0.25rem;
	}
	header{
		display: flex;
		flex-direction: column;
        width: 100%;
    }
	input {
      width: 100%;
      padding: 0.25rem;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
	.input-password{
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }
	section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        margin: 0.25rem;
    }
    button{
      width: 100%;
      padding: 0.5rem;
      background-color: #2a01f7;
      color: white;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
    }
	footer{
        width: fit-content;
        display: flex;
		flex-direction: column;
        margin: 0 auto;
        padding: 0.25rem;
		font-size: 1rem;
    }
	.container {
        font-size: larger;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 30%;
        margin: 0 auto;
        gap: 0.5rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }
    .conteiner-form{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        justify-content: center;
        align-items: center;
    }
	.hide-show{
        margin: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: absolute;
        right: 0;
    }
    #check-hide{
        z-index: 1;
        position: absolute;
        cursor: pointer;
        opacity: 0;
    }
    @media (max-width: 900px) {
        .container {
            width: 60%;
        }
    }
    @media (max-width: 600px) {
        .container {
            width: 80%;
        }
    }
</style>

<script>
	const checkbox = document.getElementById("check-hide") as HTMLInputElement;
	let show = document.getElementById("password") as HTMLInputElement
	if(checkbox){
        checkbox?.addEventListener('change', () => {
            show.type = checkbox.checked ? 'text' : 'password';
        });
    }
</script>